addict==2.4.0
brotli==1.1.0
dashscope==1.24.0
datasets==4.0.0
diffusers==0.34.0
docx2txt==0.9
faiss-cpu==1.11.0.post1
fastapi==0.112.2
flask==3.1.1
future==1.0.0
greenlet==3.2.3
h2==4.2.0
hf-xet==1.1.5
jaraco.collections==5.1.0
langchain-anthropic==0.3.17
langchain-community==0.3.27
langchain-huggingface==0.3.1
langgraph==0.5.4
langgraph-checkpoint-sqlite==2.0.10
modelscope==1.28.1
peft==0.16.0
pip-chill==1.0.3
platformdirs==4.2.2
pysocks==1.7.1
sentence-transformers==5.0.0
tavily-python==0.7.10
tomli==2.0.1
uvicorn==0.35.0
